/__init__.cpython-37.pyc
/test_basic_assert.cpython-37-pytest-5.0.1.pyc
/test_calculators.cpython-37-pytest-5.0.1.pyc
/test_examples.cpython-37-pytest-5.0.1.pyc
/test_foocompare.cpython-37-pytest-5.0.1.pyc
